<div>header</div>
<% if (Nav&&Nav.length) { %>
  <ul class="nav">  
    <% Nav.forEach(function(item){ %>  
      <li>
		<a href="<%= item.url %>">
			<%= item.name %>
		</a>
      </li>  
    <% }) %>  
  </ul>  
<% } %> 