<div>footer</div>
<div>三种不同的图片引入方式</div>
<img src="https://static.segmentfault.com/v-59b20a3c/global/img/user-64.png" title="网络图片">
<img src="${require('./../../assets/welcome.png')}" title="相对路径" style="width: 200px;">
<img src="static/child.jpg" title="绝对路径">