<div>footer</div>
<div id="env"></div>
<div>三种不同的图片引入方式</div>
<img src="https://static.segmentfault.com/v-59b20a3c/global/img/user-64.png" title="网络图片">
<img src="${require('./../../assets/welcome.png')}" title="url-loader引入" style="width: 200px;">
<img src="static/child.jpg" title="file-loader从静态文件夹中引入">