<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style/reset.css">
	<title></title>
</head>
<body>
	<!--  Header -->
	<%= Header %>
	<!--  Page -->
	<%= Page %>
	<!--  Footer -->
	<%= Footer %>
</body>
</html>